.gradle
build
app/build
local.properties
.idea
*.log
.DS_Store
.git
.gitignore
*.bat
gradlew.bat
build_log.txt
build_output.txt
compile_out.txt
secrets.properties
google-services.json
TODO.md
Documentation.md
