*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
compile_out.txt
output.txt
/build_log.txt
/build_output.log
/.vscode/settings.json
/build_error.log
build_output.txt
/build.log

local.properties
secrets.properties

google-services.json

TODO.md
ANDROID_MIGRATION_SPECS.md

/errors.log
/compile_out_worker.txt
/utf8.txt
